.categories {
    @include container;
    padding-top: 50px;

    .wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        grid-column: 2/-2;

        @include ipad {
            flex-direction: row;
        }

        .card {
            @include gap-vertical(50px);
            @include ipad {
                margin-right: 0;
                @include gap-horizontal(50px);
            }
        }
    }
}
