.title-main {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: bold;

    @include ipad {
        font-size: 5.6rem;
    }
}

.title-secondary {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: bold;

    @include ipad {
        font-size: 4rem;
    }
}

.title-tertiary {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    @include laptop13 {
        font-size: 2.8rem;
    }
}

.lead {
    font-size: 1.8rem;
}

p,
li,
a,
button,
textarea,
span {
    font-size: 1.5rem;
}

.paragraph {
    margin-bottom: 2rem;
    line-height: 1.4;
}
