/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600&display=swap");

$font-primary: "Manrope", sans-serif;
$font-secondary: serif;

/* COLORS */

$white: #fff;
$black: #000;
$grey: #c4c4c4;
$grey-light: #f1f1f1;
$grey-dark: #888888;
$orange: #d87d4a;
$orange-light: #fbaf85;

// BREAKPOINTS

$ipad: 768px;
$ipadPro: 1024px;
$design-container: 1110px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

/* SHADOWS */

$shadow-light: -2px 2px 10px rgba(#000, 0.07);
$shadow-medium: 0px 7px 20px rgba(#000, 0.2);
$shadow-dark: 0px 20px 40px rgba(#000, 0.3);
