.card {
    width: 100%;
    max-width: 450px;
    @extend .mx-auto;
    padding: 75px 0 50px;
    background-color: $grey-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 7px;
    margin-top: 50px;

    &__cover {
        position: absolute;
        top: -50px;
        max-height: 100px;
    }

    &__title {
        @extend .title-tertiary;
    }
}
