.text-block {
    text-align: center;
    @include laptop13 {
        text-align: left;
    }

    &__suptitle {
        color: $grey-dark;
        margin-bottom: 3.5rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 7px;
    }

    &__title {
        color: $white;
        margin-bottom: 3rem;
    }

    &__content {
        p {
            color: $grey;
            margin-bottom: 4rem;
            line-height: 2.5rem;
        }
    }

    &__cta {
        a {
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}
